body {
    font-family: 'Roboto', sans-serif;
}

.btn-primary, .btn-primary:active {
    background-color: #55b4d4;
    border-color: #55b4d4;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary.active {
    color: #ffffff;
    background-color: #2d8fb0;
    border-color: #2d8fb0;
}

.btn-white-outline, .btn-white-outline:active, .btn-white-outline.active {
    background: none;
    border-color: #ffffff;
    color: #ffffff;
}

.btn-white-outline:hover {
    background: #ffffff;
    border-color: #ffffff;
    color: #333;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
    position: relative;
}

.navbar-light .navbar-toggler-icon::before {
    content: "\f0c9";
    font-family: FontAwesome;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 30px;
    color: white;
}

#header .navbar {
    padding: 15px 5%;
    transition: all .2s;
}

#header.scrolled .navbar {
    background: #072151;
    transition: none;
    min-height: 77px;
    transition: all .2s;
}

#header .navbar .nav-link {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.7rem 0 !important;
    margin: 0rem .65rem !important;
}

#header .navbar .navbar-brand {
    font-weight: 700;
    white-space: normal;
    vertical-align: -4px;
    font-size: 1rem;
}

#header .dropdown .dropdown-menu {
    background: #072151;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}

#header .dropdown .dropdown-menu a {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all .5s;
    font-weight: 500;
}

#header .dropdown .dropdown-menu a:hover {
    background-color: transparent;
    opacity: 0.8;
    transition: all .5s;
}

#header .btn {
    padding: 0.4rem 1.5rem;
    display: inline-flex;
    align-items: center;
}

#intro {
    background-image: url("../img/intro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 170px;
    padding-bottom: 200px;
    position: relative;
}

#intro .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.6;
    background-color: rgb(7, 33, 81);
}

#intro h1 {
    font-size: 60px;
}

#intro h3 {
    font-size: 32px;
}

#intro p {
    font-size: 21px;
}

#intro a {
    font-size: 16px;
}

.btn-md {
    font-weight: 500;
    letter-spacing: 1px;
    margin: .4rem .8rem !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 1rem 3rem;
    border-radius: 3px;
}

#courses {
    padding-top: 60px;
    padding-bottom: 15px;
    background-color: #efefef;
}

.title h3 {
    font-weight: bold;
    font-size: 40px;
}

.card {
    border: none;
    background: transparent;
}

#courses .card-body {
    background: white;
}

#courses .card-title {
    font-weight: 500;
    padding-top: 1rem;
    font-size: 21px;
}

#courses .btn {
    margin-top: 1rem;
    padding: 16px 48px;
}

#teachers {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #ffffff;
}

.title p {
    font-size: 21px;
}

#teachers .media {
    background: #f5f5f5;
    padding: 48px;
    margin-bottom: 48px;
}

#teachers .media h5 {
    font-size: 16px;
}

#teachers .media h6 {
    font-weight: normal;
    font-size: 16px;
}

#discount {
    background-image: url("../img/discount.jpg");
    padding-top: 90px;
    padding-bottom: 90px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#discount .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.6;
    background-color: rgb(255, 255, 255);
}

#discount h2 {
    font-size: 40px;
    font-weight: bold;
}

#discount h3 {
    font-size: 1.3rem;
}

#discount p {
    font-size: 1.3rem;
}

#discount a {
    font-size: 1.6rem;
    padding: 1rem 3rem;
}

#discount a i {
    margin-right: 0.8rem;
}

#distance {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #ffffff;
}

#certificate {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #f5f5f5;
    background: linear-gradient(45deg, #f5f5f5, #f5f5f5);
}

#certificate h1 {
    font-weight: bold;
    font-size: 40px;
}

#certificate p {
    font-size: 1rem;
}

#certificate a {
    padding: 1rem 3rem;
}

#contact_us {
    padding-top: 90px;
    padding-bottom: 90px;
}

#contact_us .form-control{
    background-color: #f5f5f5;
    box-shadow: none;
    color: #565656;
    font-size: 1rem;
    line-height: 1.43;
    min-height: 3.5em;
    padding: 1.07em .5em;
}
#contact_us .form-control:focus{
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
}
#contact_us label{
    position: relative;
    cursor: pointer;
    margin-bottom: .357em;
    padding: 0;
    font-size: 1rem;
}
#contact_us button{
    padding: 1rem 3rem;
}